<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuevo Movimiento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="px-4 py-5 my-3 text-center">
        <h1 class="display-5 fw-bold mb-5">Realizando Movimiento</h1>
        <div class="d-flex flex-colum justify-content-center">
            <form th:action="@{'/enterprises/' + ${companyId} + '/movements/create'}" th:method="post" th:object="${newTransaction}" class="col-md-8 gap-3 align-items-center" >
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select th:field="*{type}" id="type" class="custom-select mr-sm-2 form-control text-center">
                        <option th:value="'INCOME'" selected="1">Ingreso</option>
                        <option th:value="'EXPENSE'" value="2">Gasto</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Monto</label>
                    <input th:field="*{amount}" type="number" step="0.01" class="form-control text-center" id="amount" placeholder="Ingrese el monto del movimiento">
                </div>
                <div class="mb-3">
                    <label for="concept" class="form-label">Concepto</label>
                    <input th:field="*{concept}" type="text" class="form-control text-center" id="concept" placeholder="Ingrese el concepto del movimiento">
                </div>
                <button type="submit" class="col-md-6 btn btn-primary fw-bold btn-block mt-3">Registrar Movimiento</button>
            </form>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>